In [1]:
import pandas as pd

category = pd.read_csv('category.csv')
product = pd.read_csv('product.csv')
# add total column

# join or merge
# data = pd.merge(category, product, on='cid')

# data.groupby('product_name').mean()

# data.groupby('name').all()
# data.groupby('name').count()
# data = pd.merge(category, product, on='cid', how='outer')
# data = pd.merge(category, product, on='cid', how='left')
# data = pd.merge( product,category, on='cid', how='right')

   sn product_name  quantity  price  cid
0   1         dell         2  20000  1.0
1   2          mac         3  30000  1.0
2   3       iphone         4  40000  2.0
3   4      oneplus         5  50000  2.0
4   5        redmi         6  60000  2.0
5   6      toshiba         7  70000  1.0
6   7         sony         8  80000  1.0
7   8      samsung         9  90000  NaN